@model WireguardUser
@{
    ViewData["Title"] = "Signup";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Details</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
    </div>
    <div class="m-1 p-1">
        @*if(@Model != null){
            <p>@Model.UserName</p>
           <p>@Model.Email</p>
           <p>@Model.BirthDate</p>
           <p>@Model.ProfileDescription</p>
           <p>@Model.FavoritePet</p>
           <p>@Model.UserName</p>
        }*@

      
    </div>
</body>
</html>