@using Microsoft.AspNetCore.Http;
@model IEnumerable<User>
@{
    ViewData["Title"] = "Success";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Success Page</h3>
    Welcome to Wireguard
    <br>

    <a asp-action="restart">Restart System</a>
    <a asp-controller="Account" asp-action="AddNewClient">Add New Client</a>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Name</th> <th>Date</th> <th>IPAddress</th> <th>AllowedIPRange</th><th>PublicKey</th></tr>
        </thead>
        <tbody>
            @foreach (WireguardAdmin.Models.User user in Model)
            {
                <tr>

                    <td>@user.Name</td>
                    <td>@user.DateAdded</td>
                    <td>@user.IPAddress</td>
                    <td>@user.AllowedIPRange</td>
                    <td>@user.ClientPublicKey</td>
                </tr>
            }
        </tbody>
    </table>

    Wireguard System Status:

    <pre> @ViewBag.output </pre>


    @*<a asp-controller="account" asp-action="runcmd">Run command</a>*@

</body>
</html>